
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.load {
	color: #ffbb33;
	font-size: 300%;
	width: 10%;
	animation: spin .8s linear infinite;
	position: absolute;
	top: 45%;
	left: 45%;
}