.projects {
	padding: 2% 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-width: 60%;
	height: auto;
}
.noProjects {
	width: 100%;
	color: #3a3a3a;
	text-align: center;
	margin-top: 40px;
	font-size: 40px;
}
.projectsHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}
.projectsHeader h2 {
	margin-left: 20px;
	font-size: 45px;
	font-weight: bolder;
}